.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
    max-height:20rem;
    overflow:scroll;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight:bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #FF8E9E;
    color: white;
  }
  
  .actions .button--alt {
    color:#FF597B;
    border: 1px solid #FF597B;
  }
  
  .actions .button {
    background-color:  #FF597B;
    color: white;
  }